.sidebar {
    height: 100vh;
    position: fixed;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
  }
  
  .nav-link i {
    margin-right: 10px;
  }
  
  .nav-link.active {
    background-color: #007bff;
    /* color: white; */
    border-radius: 9px 0 9px 0;
  }
  
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  